{% extends "base.html" %}
{% block content %}
<form method='POST' action='/create-post/{{ user }}'>
  <fieldset>
  <legend>New Post</legend>
  <!-- TITLE -->
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title fw-bold">
        <label for='title'>Title</label><br>
        <input type='text' name='title'/>  
      </h5>
      <p class="fw-bolder"><label for='description'>Description:</label><br></p>
      <p class="card-text"><input type='text' name='description'/></p>
      <p class="fw-bolder"><label for='goals'>Goals:</label><br></p>
      <p class="card-text"><input type='text' name='goals' /></p>
      <p class="fw-bolder"><label for='when'>When:</label><br></p>
      <p class="card-text"><input type='text' name='when' /></p>
      <button type='submit' class="btn btn-primary">Submit Post</button>
    </div>

  </fieldset>
</form>
 
{% endblock %}