{% extends "base.html" %}
{% block content %}
<form method='POST' action='/edit-profile/{{ user.username }}/{{user._id}}'>
  <fieldset>
  <legend class="text-center">Account Information</legend>
  <div class="card text-center border-0">
    <div class="card-body">
      <h5 class="card-title fw-bold ">
        
        <input class="create-post-field mt-3" type='text' name='username' value="{{ user.username }}"/>  
      </h5>
      
      <p class="card-text "><input class="create-post-field" type='text' name='bio' value="{{ user.bio }}"/></p>
      
      <p class="card-text "><input class="create-post-field" type='text' name='image' placeholder="Profile Picture"/></p>
      
      <button type='submit' class="btn btn-primary px-5">Submit Changes</button>
    </div>

  </fieldset>
  </form>
{% endblock %}