{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
<img id="carousel-start" src="/static/IMAGES/logo_new_connections.jpg">
</div>
  <div id="post-carousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner ">
      
    </div>
      <!-- have to init carousel with active class -->
      <div class="carousel-item active"></div>
      {% for post in posts %}
        <div class="carousel-item">   
          <div class="card text-center container">
            <div class="card-header row ">
              <p class="text-center">{{ post.date_posted }}</p>
            </div>
            <div class="row">
              <div class="card-body col-md-8">
                <h5 class="card-title fw-bold">{{ post.title }}</h5>
                <p class="fw-bolder">Description:</p>
                <p class="card-text">{{ post.description }}</p>
                <p class="fw-bolder">Goals:</p>
                <p class="card-text">{{ post.goals }}</p>
                <p class="fw-bolder">When:</p>
                <p class="card-text">{{ post.when }}</p>
                <a href="/{{ user.username }}/reply/{{ post._id }}" class="btn btn-primary">Reply to Post</a>
              </div>
              <div class="card col-md-4 border-0" style="width: 18rem;">
                <h5 class="card-title">Posted By:</h5>
                <img src="/static/IMAGES/empty_profile.jpg" class="card-img-top img-fluid rounded-start" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ post.user.username }}</h5>
                  <p class="card-text">{{ post.user.bio }}</p>
                </div>
              </div>
            </div>
            <!-- poster's profile -->
            <div class="card-footer text-muted row">
              <p class="text-center">Location radius</p>
            </div>
          </div>
        </div>
        
      {% endfor %}  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#post-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#post-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}