{% extends "base.html" %}
{% block content %}
  <div class="card mb-0 border-bottom-0">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/IMAGES/empty_profile.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.username }}</h5>
          <p class="card-text">{{ user.bio }}</p>
        </div>
        <a href="/edit-profile/{{ user.username }}/{{ user._id }}" class="btn btn-primary">Edit Profile</a>
        <a href="/delete-account/{{ user.username }}/{{ user._id }}" class="btn btn-primary">Delete Account</a>
      </div>
      <div class="card-header text-center">
        <h5>View/Edit/Delete Your Posts Below!</h5>
      </div>
    </div>
  </div>
  
  {% for post in posts %}
  <div class="card text-center">
    <div class="card-header">
      {{ post.date_posted }}
    </div>
    <div class="card-body">
      <h5 class="card-title fw-bold">{{ post.title }}</h5>
      <p class="fw-bolder">Description:</p>
      <p class="card-text">{{ post.description }}</p>
      <p class="fw-bolder">Goals:</p>
      <p class="card-text">{{ post.goals }}</p>
      <p class="fw-bolder">When:</p>
      <p class="card-text">{{ post.when }}</p>
      <a href="/{{ post._id }}/delete/{{ user.username }}" class="btn btn-primary">Delete</a>
      <a href="/{{ post._id }}/update/{{ user.username }}" class="btn btn-primary">Edit</a>
    </div>
    <div class="card-footer text-muted">
      Location radius
    </div>
  </div>
  {% endfor %}
{% endblock %}